@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";
@import "ui.css"; /* optional for bits UI components */

/* colors defined in variables.css */
:root {
	/* font */
	--font-sans: "Inter", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--font-serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--font-mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -1;
	--z-base: 1;
	--z-top: 10;
	--z-overlay: 100;
	--z-modal: 1000;

	/* presets (used in reset.css) */
	--font-body: var(--font-sans);
	--font-form: var(--font-sans);

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 1rem;
	
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-fg-light: var(--color-gray-500);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-gray-500);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-fg-primary: var(--color-white);
	--color-button-bg-primary: var(--color-gray-900);
	--color-button-fg-secondary: var(--color-white);
	--color-button-bg-secondary: var(--color-gray-500);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-family: var(--font-sans);
	font-size: var(--18px, 18px);
	font-weight: 500; /* semi-bold */
	letter-spacing: -0.02em;
	color: #2C2621;
	/* font-family: "Mozilla Headline", sans-serif;
	font-size: var(--18px, 18px);
    font-optical-sizing: auto;
    font-style: normal;
	font-weight: 700;
	line-height: 30px;
	font-feature-settings: "dlig" */
}

h2 {
	font-family: var(--font-sans);
	font-size: var(--12px, 12px);
	font-weight: 600; /* semi-bold */
	color: #7a746d;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	/* font-family: "Mozilla Text", sans-serif;
	font-size: var(--17px, 17px);
    font-optical-sizing: auto;
    font-style: normal;
	font-weight: 700;
	line-height: 22.5px; */
}

h3 {
	font-family: var(--font-sans);
	font-size: var(--16px, 16px);
}

h4 {
	font-family: var(--font-sans);
	font-size: var(--16px, 16px);
}

h5 {
	font-family: var(--font-sans);
	font-size: var(--16px, 16px);
}

h6 {
	font-family: var(--font-sans);
	font-size: var(--16px, 16px);
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

p {
    font-family: var(--font-sans);
	font-size: var(--15px, 15px);
	line-height: 20px;
	color: #2c2621;
	letter-spacing: 0.01em;
}

a, span {
    font-family: var(--font-sans);
	font-size: var(--15px, 15px);
	line-height: 20px;
	color: #2c2621;
	letter-spacing: 0.01em;
}